restaurants.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT restaurants (restaurant+)>

<!ELEMENT restaurant (#PCDATA | id | name | cuisine | city | open | close)*>
<!ATTLIST restaurant type CDATA #IMPLIED>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT cuisine (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT open (#PCDATA)>
<!ELEMENT close (#PCDATA)>